RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "FPGA_ready" SITE "M2" ;
LOCATE COMP "LED_green" SITE "H11" ;
LOCATE COMP "rst_neg_ext" SITE "H6" ;
IOBUF PORT "rst_neg_ext" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "LED_green" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FPGA_ready" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "usb_dn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS ;
IOBUF PORT "o_CLK_12MHz" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "o_CLK_60MHz" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY NET "o_CLK_60MHz_c_c" 60.000000 MHz ;
FREQUENCY NET "o_CLK_12MHz_c" 12.000000 MHz ;
LOCATE COMP "o_CLK_12MHz" SITE "L2" ;
LOCATE COMP "o_CLK_60MHz" SITE "L3" ;
LOCATE COMP "usb_dp" SITE "M1" ;
LOCATE COMP "usb_dn" SITE "L1" ;
LOCATE COMP "miso" SITE "F3" ;
LOCATE COMP "mosi" SITE "D3" ;
LOCATE COMP "sclk" SITE "G3" ;
LOCATE COMP "ss_n" SITE "C2" ;
IOBUF PORT "miso" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ss_n" IO_TYPE=LVCMOS33 ;
