rvl_alias "pll_clk" "usb_2_spi_unit/clk";
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
RVL_ALIAS "clk_60mhz" "clk_60mhz"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "FPGA_ready" SITE "97" ;
LOCATE COMP "LED_green" SITE "98" ;
LOCATE COMP "rst_neg_ext" SITE "33" ;
LOCATE COMP "usb_dn" SITE "109" ;
IOBUF PORT "rst_neg_ext" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "LED_green" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FPGA_ready" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "usb_dp" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "usb_dn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS ;
#IOBUF PORT "o_CLK_12MHz" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#IOBUF PORT "o_CLK_60MHz" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#FREQUENCY NET "o_CLK_60MHz_c_c" 60.000000 MHz ;
#FREQUENCY NET "o_CLK_12MHz_c" 12.000000 MHz ;
LOCATE COMP "usb_dp" SITE "110" ;
#LOCATE COMP "o_CLK_12MHz" SITE "99" ;
#LOCATE COMP "o_CLK_60MHz" SITE "100" ;
LOCATE COMP "mosi" SITE "121" ;
LOCATE COMP "miso" SITE "122" ;
LOCATE COMP "sclk" SITE "125" ;
LOCATE COMP "ss_n" SITE "126" ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ss_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "miso" IO_TYPE=LVCMOS33 PULLMODE=NONE ;